h1 {
  border: 2px solid green;
  color: green;
  margin-top: 2%;
}

body {
  border: 2px solid;
}

#first-tab-h1 {
  border: 2px solid red;
  color: red;
}

#second-tab-h1 {
  border: 2px solid purple;
  color: purple;
}

#third-tab-h1 {
  border: 2px solid blue;
  color: blue;
}